<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <img src="/img/Logo.png" alt="Logo" class="nav__logo">

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample05" aria-controls="navbarsExample05" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarsExample05">
        <ul class="navbar-nav mr-auto">

            <li class="nav-item active">
                <a class="nav-link" href="{{ path('homepage')}}">Accueil <span class="sr-only">(current)</span></a>
            </li>

            <li>
                <a class="nav-link" href="{{ path('user_registration')}}">S'enregitrer</a>
            </li>

            <li>
                <a class="nav-link" href="{{ path('login')}}">Se Connecter</a>
            </li>

            <li>
                <a class="nav-link" href="{{ path('users_display')}}">Liste des Utilisateurs</a>
            </li>

            <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="" id="dropdown05" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Dropdown</a>

                <div class="dropdown-menu" aria-labelledby="dropdown05">
                    <a class="dropdown-item" href="#">Action</a>
                    <a class="dropdown-item" href="#">Another action</a>
                    <a class="dropdown-item" href="#">Something else here</a>
                </div>
            </li>

            {% if is_granted('IS_AUTHENTICATED_FULLY') %}
            <li  class="nav-item active">
                <a class="nav-link" href="{{ path('logout') }}">Logout ({{ app.user.username }})</a>

            </li>
            {% endif %}
        </ul>

        <form class="form-inline my-2 my-md-0">
            <input class="form-control" type="text" placeholder="Search">
        </form>
    </div>
</nav>
