{% extends 'base.html.twig' %}

{% block body %}
    {% block aricles %}
        <div class="container" style="display: flex!important;justify-content: space-evenly;">
            {% for user in users %}
                <div class="card" style="width: 18rem; margin: 15px;">
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">ID : {{ user.id }}</li>
                        <li class="list-group-item">Prénom : {{ user.firstName }}</li>
                        <li class="list-group-item">Nom : {{ user.lastName | upper }}</li>
                        <li class="list-group-item">Email : {{ user.email }}</li>
                        <li class="list-group-item">MDP : {{ user.password }}</li>
                        <li class="list-group-item">ROLE :
                            {% for role in user.roles %}
                                {{ role }}
                            {% endfor %}
                        </li>
                    </ul>
                </div>
            {% endfor %}
        </div>
    {% endblock %}
{% endblock %}
